body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

body .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

body .logo .logo_txt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

body .logo .logo_txt a{
    text-decoration: none;
    color: black;
}

body .main_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

.main_menu .search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 30px;
}

.search .search_svg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 23px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 4px 7px;
}

.search .search_svg input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 20px;
    outline: none;
    margin-right: 5px;
    border: none;

}

.search .search_svg a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding-top: 1px;
}

.users_alerts_login_logout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    height: 50px;
    margin-right: 30px;
}

body .all_books{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 95%;
}

.all_books p{
    font-size: 20px;
    font-weight: bold;
}

.all_books .slider_new{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    flex-direction: column;
}

.slider_new .new_book_poster_slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.new_book_poster_slider .poster_new_book{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: black;
}

.slider_new .sliders_new_book{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: black;
}

.all_books .slider_popular{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    flex-direction: column;
}

.slider_popular .popular_book_poster_slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.popular_book_poster_slider .poster_popular_book{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: black;
}

.slider_popular .sliders_popular_book{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: black;
}

.all_books .slider_genres{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    flex-direction: column;
}

.slider_genres .genres_book_poster_slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.genres_book_poster_slider .poster_genres_book{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: black;
}

.slider_genres .sliders_genres_book{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: black;
}

.all_books .slider_top{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    flex-direction: column;
}

.slider_top .top_book_poster_slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.top_book_poster_slider .poster_top_book{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: black;
}

.slider_top .sliders_top_book{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: black;
    margin-bottom: 30px;
}



